.wrapper {
    border-radius: 8px;
    border: 1px solid #cecdcd;
    margin-top: 20px;
    height: 220px;
    overflow-y: auto;
    background-color: #f8f8f8;
    padding-right: 5px;
}

.wrapper::-webkit-scrollbar {
    width: 4px;
    border-radius: 8px;
}
/* общая полоса прокрутки*/
.wrapper::-webkit-scrollbar-track {
    margin: 4px 0px;
    border-radius: 8px;
    background-color: #ededed;
}

/* указатель прокрутки */
.wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgb(219, 219, 219);
    background-clip: padding-box;
}

.wrapper:hover::-webkit-scrollbar-thumb {
    background: rgb(116, 116, 116);
}

.wrapper:hover::-webkit-scrollbar-track {
    background-color: #d6d6d6;
}
