.item {
    margin-bottom: 10px;
    border: 1px solid black;
}

.number {
    font-size: 20px;
    text-decoration: underline;
}

.message {
    font-size: 20px;
}

.likeCount {
    font-size: 20px;
    color: red;
}