.dialogsItem {
    display: block;
    margin-bottom: 10px;
    border: 1px solid black;
    text-decoration: none;
    height: 50px;
}

.activeDialogsItem {
    display: block;
    margin-bottom: 10px;
    border: 1px solid red;
    text-decoration: none;
    height: 50px;
}