.sidebar {
    grid-area: sidebar;
    background-color: var(--main-color);
    border-radius: 8px;
    padding: 15px;
}

.item a{
    color: var(--button-blue-color);
    text-decoration: none;
}

.item a:hover {
    text-decoration: underline;
}

.item a.activeLink {
    position: relative;
    color: var(--header-color);
}

.item a.activeLink::before {
    content: "|";
    display: block;
    position: absolute;
    left: -5px;
    top: -2px;
}