.profile {
    display: flex;
    gap: 50px;
}

.profile .avatar {
    width: 200px;
    height: 200px;
}

.avatar img {
    width: 100%;
    height: 100%;
}




.profile .info {

}

.info .name {

}

.info .birthday {

}

.info .city {

}

.info .education {

}

.info .contacts {

}