:root {
    --main-color: #fff;
    --header-color: #33363c;
    --button-blue-color: #2a8cae;
    --button-green-color: #679710;
}

* {
    box-sizing: border-box;
}

body {
    background: #f0f0ed;
}

.App {
    margin: 0 auto;
    width: 1140px;
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar content";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr;
    gap: 20px 15px; 
    /* grid-auto-rows: minmax(200px, auto);   */
}

.App-content {
    grid-area: content;
    background-color: var(--main-color);
    border-radius: 8px;
    padding: 15px;
}
